@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 204 64% 44%;
    --primary-foreground: 0 0% 100%;
    --secondary: 178 44% 66%;
    --secondary-foreground: 208 63% 22%;
    --muted: 178 30% 94%;
    --muted-foreground: 208 20% 46%;
    --accent: 43 80% 46%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 204 25% 88%;
    --input: 204 25% 88%;
    --ring: 204 64% 44%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
